<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
    <!-- 引入属性文件 -->
    <context:property-placeholder location="classpath:config.properties"/>

    <!--配置扫描所有Respository、Component、Service、 Constroller注解的类文件 -->
    <context:component-scan base-package="net.htjs.sendsys.service"/>

</beans>